.area-1, .area-2, .area-3, .area-4{
  visibility: hidden;
}
/* Copy this code after the above code */
@keyframes jogar-top {
  0% {
	transform: scaleY(0.4);
	transform-origin: 0% 100%;
  }

  100% {
	transform: scaleY(1);
	transform-origin: 0% 100%;
  }
}



  
#home{
  animation: jogar-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background-color: #2C6893;
  max-height: 1080px;
}

#home-itens{
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  margin: auto;
}



  #home-text{
      animation-name: jogar-top; 
       animation-duration: 0.5s;
      animation-iteration-count: 1; 
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
      }
      
      #home-text h1{  
        font-size: 1.5rem;
    font-family: '';
  }

  @media screen and (max-width: 576px) {
    #home-text h1{
      font-size: 3.5rem;
      text-align: center;
    }
  }


  @media (min-width: 576px) {
      #home{
        font-size: 4.6rem;
        text-align: center;
        max-height: 500px;
      }
      #home-itens{
        height: auto;
      }

      #home-text h1{
        font-size: 4.6rem;
        text-align: center;
      }
    }

    /* // Md */
    @media (min-width: 768px) {
      #home-text h1{
        font-size: 6rem;
        text-align: center;
      }
        #home-itens{
          text-align: start;
          background-color: #1818b600;
        }
     }
    
    /*lg */
    @media screen and (min-width: 992px) { 
        #home{  
          background-image: url('../img/ft_casamento-removebg-preview.png'); 
          background-color: #2C6893;
          max-height: 1080px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        #home-itens h1{
          text-align: start;
          color: aliceblue;
     }
    }
 
p{
  font-family: "Istok Web", sans-serif;
}

  
