#Serviços{
    background-color: #2C6893;
}

.card-serviços{
    background-color: #ffffff;
    color: rgb(12, 12, 12);
}

#redes li{
    list-style: none;

}

#redes li a{
    color: black;
    text-decoration: none;
}

#redes li a:hover{
    background-color: rgb(200, 200, 230);
    color: #2C6893;
}

.link-zap{
    text-decoration: none;
    color: aliceblue;
}


footer .card{
    border: none;
}

#contatos li{
    list-style: none;

}

#contatos li a{
    text-decoration: none;
}

#Copyright li a{
    text-decoration: none;
}

#Copyright li a:hover{
    background-color: rgb(200, 200, 230);
    color: #2C6893;
}