/* Copy this code after the above code */

  #sobre-mim{
    margin-bottom: auto;
  }

.title{
    font-family: 'italiana', serif;
}
#img-wtsp{
    max-width: 40px;
}

button div P, button div p a{
    text-decoration: none;
    color: black;
    margin: auto;
}
.btn-text{
    font-size: 1.5rem;
}

#btn-info{
    width: 100%;
    background-color: #2C6893;
}

#ft{
    rotate: 10deg;
    align-self: center;
}
#btn-info:hover{
    background-color: #c7c541;
}

@media screen and (max-width: 576px) {
    .title{
        text-align: center;
    }
  }

@media screen and (max-width: 768px) {
    .title{
        text-align: center;
    }


   }

   @media screen and (min-width: 992px) { 
    #btn-info{
        width: 100%;
    }

    .title{
        text-align: start;
    }
}
  



